@import (reference) '../../customize/src/less2/include/framework.less';
@import (reference) '../../customize/src/less2/include/sidebar-layout.less';
@import (reference) '../../customize/src/less2/include/avatar.less';
@import (reference) "../../customize/src/less2/include/limit-bar.less";

&.cp-app-accounts {
    .limit-bar_main();

    .framework_min_main(
        @bg-color: @colortheme_static_apps[default];
    );
    .sidebar-layout_main();

    .cp-hidden {
        display: none !important;
    }

    display: flex;
    flex-flow: column;
    background-color: @cp_app-bg;

    @cards-bg: contrast(@cryptpad_text_col, @cryptpad_color_grey_100, @cryptpad_color_grey_850);
    @cards-bg2: contrast(@cryptpad_text_col, @cryptpad_color_grey_200, @cryptpad_color_grey_800);
    @cards-bg3: contrast(@cryptpad_text_col, @cryptpad_color_grey_300, @cryptpad_color_grey_700);

    @color1: contrast(@cryptpad_text_col, darken(@cryptpad_text_col, 30%), lighten(@cryptpad_text_col, 20%));
    @color2: contrast(@cryptpad_text_col, darken(@cryptpad_text_col, 15%), lighten(@cryptpad_text_col, 10%));

    @content-width: 600px;
    @admin-width: 1200px;
    @border-radius: 10px;

    #cp-app-accounts-container {
        flex: 1;
        overflow: auto;
        display: flex;
        align-items: center;
        flex-flow: column;
        color: @cryptpad_text_col !important;

        & > div {
            display: flex;
            flex-flow: column;
            align-self: center;
            max-width: 1100px;
        }

        .cp-accounts-header {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .cp-accounts-header-item {
                display: flex;
                flex-flow: column;
                width: 200px;
                align-items: center;
                & > i {
                    font-size: 72px;
                }
                & > span {
                    margin-top: 10px;
                    font-family: "IBM Plex Mono";
                    text-align: center;
                }
            }
            margin-bottom: 40px;
        }

        #cp-success-page {
            font-size: 16px;
            .alert {
                font-size: 16px;
            }
            .cp-spinner-div {
                display: flex;
                flex-flow: column;
                align-items: center;
                .cp-spinner-container {
                    display: flex;
                    align-items: center;
                }
            }
            margin: 15px 0;
        }

        .cp-accounts-mysub-header, .cp-accounts-mysub, .cp-accounts-storage, .cp-accounts-drives, .cp-accounts-user-dpa {
            width: @content-width;
            max-width: ~"calc(100vw - 10px)";
        }

        .cp-accounts-user-dpa {
            .dpa-block {
                display: none;
            }
        }
        .cp-accounts-mysub-header {
            margin-bottom: 10px;
            padding-left: 20px;
            .cp-accounts-title {
                font-size: 36px;
                text-align: center;
            }
            .cp-accounts-links {
                display: flex;
                flex-flow: column;
            }
            a {
                i {
                    margin-right: 10px;
                }
                color: @cryptpad_color_link;
            }
        }
        .cp-accounts-mysub {
            display: flex;
            padding: 10px;
            gap: 10px;
            margin-top: 50px;
            background: @cards-bg;

            border-radius: @border-radius;
            flex-wrap: wrap;

            .avatar_main(64px);
            .cp-avatar {
                flex-shrink: 0;
                align-items: flex-start;
            }

            .cp-accounts-user {
                display: flex;
                flex-flow: column;
                flex: 1;
                .cp-accounts-username {
                    font-family: "IBM Plex Mono";
                    font-size: 24px;
                }
                .cp-accounts-usershared {
                    label {
                        font-weight: bold;
                        color: @cp_alertify-fg;
                        margin-bottom: 0;
                    }
                    .cp-accounts-sharedby {
                        display: flex;
                        align-items: center;
                        .avatar_main(32px);
                        .cp-avatar:not(:empty) {
                            margin-right: 10px;
                        }
                        span {
                            font-family: "IBM Plex Mono";
                            font-size: 18px;
                        }
                    }
                }
                & > *:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            .cp-accounts-plan {
                display: flex;
                flex-flow: column;
                padding: 10px;
                border-radius: @border-radius;
                min-width: 200px;
                background: @cards-bg2;
                .cp-accounts-planname {
                    font-family: "IBM Plex Mono";
                    font-size: 24px;
                }
                .cp-accounts-planrenew .alert-danger {
                    font-size: 16px;
                }
                & > *:not(:last-child) {
                    margin-bottom: 10px;
                }
                @media screen and (max-width:@content-width) {
                    width: 100%;
                }
            }
        }
        .cp-accounts-storage {
            display: flex;
            flex-flow: column;
            margin-top: 40px;
            gap: 10px;
            .cp-accounts-storage-limit {
                font-family: "IBM Plex Mono";
                font-size: 24px;
            }
            .cp-accounts-storage-bar {
                display: none;
                height: 36px;
                border: 1px solid @cryptpad_color_brand_300;
                border-radius: @border-radius;
                background: @cards-bg2;
                padding: 4px;
                .cp-usage-bar {
                    width: 0;
                    border-radius: 6px;
                    height: 100%;
                    background: @cryptpad_color_brand_300;
                }
            }
            .cp-accounts-storage-used {
                .alert {
                    font-size: 16px;
                }
            }
        }
        .cp-accounts-user-dpa {
            &:empty {
                display: none;
            }
            margin-top: 40px;
            .alertdpa {
                font-size: 16px;
            }
        }
        .cp-dpa-form-buttons {
            margin-top: 0.5em;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
        .cp-accounts-dpa-form {
            border-radius: @border-radius;
            background: @cards-bg2;
            padding: 10px;
            width: @content-width;
            max-width: ~"calc(100vw - 10px)";
            .title {
                font-family: "IBM Plex Mono";
                font-size: 24px;
            }
            & > p, label {
                margin-bottom: 0;
            }
            label {
                margin-top: 0.5em;
                font-weight: bold;
            }
            #cp-dpa-box-label {
                font-weight: normal;
            }
            &.alertdpa a {
                color: @cryptpad_color_link;
            }
        }
        .cp-accounts-drives {
            display: flex;
            flex-flow: column;
            margin-top: 40px;
            gap: 10px;

            .cp-accounts-drives-number {
                font-family: "IBM Plex Mono";
                font-size: 24px;
            }
            .cp-accounts-drives-list {
                display: flex;
                flex-flow: column;
                gap: 10px;
                .cp-accounts-drive {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 0 15px;
                    height: 54px;
                    background: @cards-bg2;
                    border-radius: @border-radius;
                    color: @cryptpad_text_col;
                    .cp-drive-data {
                        font-family: "IBM Plex Mono";
                        font-size: 18px;
                        flex: 1;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        user-select: none;
                        flex-wrap: wrap;
                        @media screen and (max-width:@content-width) {
                            i {
                                display: none;
                            }
                        }
                    }
                    .cp-actions {
                        display: flex;
                        gap: 10px;
                        i[role="button"] {
                            &:hover, &:active, &:focus {
                                color: @color2;
                            }
                        }
                    }
                    i {
                        font-size: 36px;
                        color: @color1;
                    }
                    & > i, .cp-actions i {
                        width: 40px;
                        text-align: center;
                    }
                    .avatar_main(40px);
                    .cp-avatar {
                        align-items: flex-start;
                    }
                    &.cp-add {
                        cursor: pointer;
                        &:hover, &:active, &:focus {
                            background: @cards-bg3;
                        }
                    }
                }
            }
        }

        .cp-admin-tabs-container, .cp-admin-content-container {
            width: @admin-width;
            max-width: ~"calc(100vw - 10px)";
        }
        .cp-admin-content-container {
            margin-top: 10px;
            .cp-admin-stats {
                display: flex;
                background: @cards-bg;
                flex-wrap: wrap;
                gap: 10px;
                padding: 10px;
                border-radius: @border-radius;
                .cp-stats {
                    flex-basis: 33%;
                    flex: 1;
                    min-width: 0;
                    font-weight: bold;
                    background: @cards-bg2;
                    padding: 10px;
                    border-radius: @border-radius;
                    p {
                        margin-bottom: 0;
                    }
                    strong {
                        font-weight: normal;
                    }
                }
                .cp-stats-note {
                    width: 100%;
                }
            }
            .cp-stats-more {
                border-radius: 10px;
                margin: 10px 0 50px 0;
            }
            .cp-admin-buttons {
                margin-top: 10px;
            }
            table.subscription-table.cp-edit {
                tr:not(:first-child) {
                    cursor: pointer;
                    &:hover {
                        background: @cards-bg;
                    }
                }
            }
            .cp-admin-edit-getform {
                label {
                    width: 100%;
                }
            }
            .cp-admin-edit-form {
                margin-top: 10px;
                .cp-admin-edit-form-content {
                    display: flex;
                    flex-flow: column;
                    label {
                        display: flex;
                        flex-flow: column;
                        .cp-edit-field {
                            font-weight: bold;
                        }
                        input {
                            width: @content-width;
                        }
                    }
                }
                .cp-admin-edit-form-actions {
                    margin-top: 10px;
                    margin-bottom: 50px;
                    .btn-primary {
                        margin-bottom: 10px;
                    }
                    .btn-default {
                        margin-left: 10px;
                    }
                }
            }
            .cp-accounts-admingift {
                display: flex;
                flex-flow: column;
                gap: 10px;
                align-items: flex-start;
                padding: 10px;
                background: @cards-bg;
                border-radius: @border-radius;
                input {
                    width: @content-width;
                }
            }
            .cp-accounts-dpa-form, .cp-show-dpa {
                margin-top: 10px;
            }
        }
        .cp-admin-tabs-container {
            display: flex;
            .cp-admin-tab {
                flex: 1;
                color: @cryptpad_text_col;
                border: 1px solid @cp_buttons-fg;
                padding: 10px;
                border-radius: @border-radius @border-radius 0 0;
                cursor: pointer;
                font-size: 18px;
                text-align: center;
                &:hover, &:active, &:focus {
                    background-color: @cards-bg2;
                }
                &.active {
                    background: @cards-bg;
                    font-weight: bold;
                }
            }
        }

        .subscription-table {
            margin-top: 10px;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            td, th {
                border: 1px solid fade(@cryptpad_text_col, 30%);
                padding: 5px;
            }
            td:has(button) {
                text-align: center;
            }
            tr:not(:first-child):not(:last-child) {
                & > *:first-child {
                    border-width: 1px 1px 1px 2px;
                }
                & > *:last-child {
                    border-width: 1px 2px 1px 1px;
                }
            }
            tr:first-child {
                font-weight: bold;
                text-align: center;
                & > * {
                    border-width: 2px 1px 1px 1px;
                }
                & > *:first-child {
                    border-width: 2px 1px 1px 2px;
                }
                & > *:last-child {
                    border-width: 2px 2px 1px 1px;
                }
            }
            tr:last-child {
                & > * {
                    border-width: 1px 1px 2px 1px;
                }
                & > *:first-child {
                    border-width: 1px 1px 2px 2px;
                }
                & > *:last-child {
                    border-width: 1px 2px 2px 1px;
                }
            }
            tr:first-child {
                *:first-child {
                    border-radius: @border-radius 0 0 0;
                }
                *:last-child {
                    border-radius: 0 @border-radius 0 0;
                }
            }
            tr {
                & > *:first-child {
                    white-space: nowrap;
                    font-weight: bold;
                }
            }
        }

    }
}

